// placeholder for test, dont't remove it.

//.content {
//  font-size 30px;
//}

#app{
  background-image: url(../docs/banner.jpg);
  width: 100vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

}

#app .page{
  background-image:none;
  background-color: #fff;
  min-height: 100vh;
  

}

#app .no-sidebar .navbar{
  display: none;
}
#app .home{
  padding: 0;
  width: 100%;
  max-width:100%;
  background-color:rgba(0,0,0,0.6);
  height:100vh;
}
 #app .home .hero img{
  width: 100%;
  max-height:600px;
  margin:0;
}
#app .home .hero{
  padding: 300px 0 0 0;
}
 #app .home .hero .description{
  color:#fff;
  font-size: 18px;

}
#app .home .hero #main-title{
  margin:0;
  color:#fff;
  display: none;

}


pre.vue-container
  border-left-width: .5rem;
  border-left-style: solid;
  border-color: #42b983;
  border-radius: 0px;
  & > code
    font-size: 14px !important;
    & > p
      margin: -5px 0 -20px 0;
    code
      background-color: #42b983 !important;
      padding: 3px 5px;
      border-radius: 3px;
      color #000
    em
      color #808080
      font-weight light

